body {
   font-family: Arial, sans-serif;
   background-color: #d9d9eb;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container {
   background-color: #b4e7aa;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 450px;
   text-align: center;
}

h1 {
   color: #333;
}

.sections {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.section {
   width: 45%;
   text-align: left;
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   margin-bottom: 10px;
}

button {
   padding: 10px 20px;
   font-size: 16px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   width: 100%;
   margin-bottom: 5px;
}

button:hover {
   background-color: #45a049;
}

button:active {
   background-color: #388e3c;
}

.explanation {
   margin-top: 20px;
   padding: 10px;
   background-color: #f0f0f0;
   border-radius: 5px;
   color: #333;
   text-align: left;
}
